body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.uploader-container {
    padding: 40px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 100; /* Set a higher z-index to ensure it's on top */
    border: 1px solid black;
}


.uploader-container input[type="file"] {
    margin-bottom: 10px;
}


.uploader-container button {
    display: block;
}


.content-container {
    display: flex;
    flex: 1;
}


.hex-view-container, .interpreted-text-container {
    flex: 1;
    padding: 20px;
    white-space: pre;
    font-family: monospace;
}


.hex-view-container {
    border-right: 1px solid #ccc;
}


.hex-addr{
    float: left;
    width:20%;
}


.hex-view{
    float: left;
}

.highlighted {
    position: relative;
    display: inline-block;
    background-color: #FFA000;
    color: inherit;
}


.highlighted-space {
    position: relative;
    display: inline-block;
    background-color: #757575;
    color: inherit;
}


.highlighted-text {
    position: relative;
    display: inline-block;
    background-color: #4CAF50;
    color: inherit;
}


.highlighted:hover:after,
.highlighted-text:hover:after {
    content: attr(data-definition);
    position: absolute;
    background-color: #212121;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


.interpreted-addr{
    float: left;
    width:20%;
}


.interpreted-text {
    font-family: monospace;
    white-space: pre;
    color: #424242;
    float: left;
}



.interpreted-text span {
    position: relative;
}


.interpreted-text span:hover:after {
    content: attr(data-definition);
    position: absolute;
    background-color: #212121;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


.data-definitions {
    padding: 20px;
    background-color: #f0f0f0;
    min-width: 200px;
    position: fixed;
    right:0;
    top: 0;
    z-index: 100; /* Set a higher z-index to ensure it's on top */
}


.data-definitions textarea {
    height: 150px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}


.toggle-switch {
    display: flex;
    align-items: center;
}


.toggle-label {
    display: block;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 13px;
    position: relative;
    cursor: pointer;
}


.toggle-label:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease;
}


.toggle-input {
    visibility: hidden;
}


.toggle-input:checked + .toggle-label {
    background-color: #f32d21;
}


.toggle-input:checked + .toggle-label:before {
    transform: translateX(24px);
}


.popupMenu {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    left:40%;
    top: 80%
}


.popupMenu th, .popupMenu td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}


.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


.dark-mode .uploader-container {
    background-color: #2d2d2d;
    border: 1px solid white;
}


.dark-mode .data-definitions {
    background-color: #2d2d2d;
}


.dark-mode .dark-mode-switch label {
    color: #ffffff;
}


.dark-mode .dark-mode-switch input[type="checkbox"] {
    background-color: #2d2d2d;
    border-color: #ffffff;
}


.dark-mode .highlighted {
    background-color: #FF6F00;
}


.dark-mode .highlighted-space {
    background-color: #546E7A;
}


.dark-mode .highlighted-text {
    background-color: #43A047;
}


.dark-mode .highlighted:hover,
.dark-mode .highlighted-space:hover,
.dark-mode .highlighted-text:hover {
    filter: brightness(80%);
}


.dark-mode .highlighted, .dark-mode .highlighted-space, .dark-mode .highlighted-text {
    transition: filter 0.3s;
}


.dark-mode .interpreted-text {
    color: #BDBDBD;
}


.dark-mode .popupMenu {
    background-color: #2d2d2d;
    border: 1px solid white;
}


.dark-mode .popupMenu th, .dark-mode .popupMenu td {
    background-color: #2d2d2d;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}